<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CuraMe</title>
    <!-- Fonts preconnect -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!--  -->
    <!-- Poppins 200-300-500-600 Courgette 400-->
    <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Poppins:wght@200;300;500;600&display=swap"
        rel="stylesheet">
    <!--  -->
    <link rel="stylesheet" href="/css/utils/normalize.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/utils/forms-utils.css">
</head>

<body>
    <nav class="nav">
        <div class="nav__container">
            <a href="/" class="nav__link-logo" style="text-decoration: none;"><h1 class="nav__logo"><span class="nav__logo--draw">+</span> CuraMe</h1></a>
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="/#hero" class="nav__link">Inicio</a>
                </li>
    
                <li class="nav__item">
                    <a href="/#about" class="nav__link">Nosotros</a>
                </li>
    
                <li class="nav__item">
                    <a href="/#centers" class="nav__link">Sucursales</a>
                </li>
    
                <li class="nav__item">
                    <a href="/#faq" class="nav__link">Ayuda</a>
                </li>
    
                <li class="nav__item">
                    <a href="/#contact" class="nav__link">Contacto</a>
                </li>
    
                <li class="nav__item nav__item--msc">
                    <a href="/logout" class="btn--g nav__btn">Cerrar Sesi&oacute;n</a>
                </li>
            </ul>
    
            <div id="nav__menu">
                <img src="/assets/icons/menu.svg" alt="Menu" id="menu__img">
            </div>
        </div>
    </nav>

    <main class="main">

        <div class="bg-c"></div>
        <div class="profile content">
            <h2 class="profile__title"><%=user[0].nombre%> <%=user[0].apellido%></h2>

            <div class="data-group">
                <div class="data-title">Rut</div>
                <div class="data-content"><%=user[0].rut%></div>
            </div>

            <div class="data-group">
                <div class="data-title">Direcci&oacute;n</div>
                <div class="data-content"><%=user[0].direccion%></div>
            </div>

            <div class="data-group">
                <div class="data-title">Tel&eacute;fono</div>
                <div class="data-content">+56 <%=user[0].telefono%></div>
            </div>

            <div class="data-group">
                <div class="data-title">Email</div>
                <div class="data-content"><%=user[0].email%></div>
            </div>

            <div class="form__group">
                <input type="password" placeholder="Contraseña" name="password" id="password"
                    class="form__input" autocomplete="off" value="asdsadsadsadasdsa">
                <button type="submit" class="form__btn">Guardar contrase&nacute;a</button>
            </div>
        </div>

        <div class="section__attentions">
            <p class="attention__title">No tiene citas pendientes...</p>
        </div>
    </main>


    <script src="/js/navigation.js"></script>
</body>

</html>